# Ignore Python cache files and directories
__pycache__
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
.venv/
.env/

# Ignore test and coverage results
coverage/
.coverage
*.cover
*.py,cover
htmlcov/
*.log

# Ignore temporary files and directories
*.swp
*.swo
*.DS_Store
**/.DS_Store
*.egg-info/
.eggs/
*.bak
*.tmp
*.old
*~

# Ignore build artifacts
build/
dist/
*.o
*.pyc
*.pyo
*.pyd
*.so

# Ignore package manager files
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Docker related files
# Dockerfile
# .dockerignore

# Ignore other config files
.env
.env.local
.env.production
.env.test

# Ignore node_modules if using Node.js (e.g., for React projects)
node_modules/
npm-debug.log
yarn-error.log

# Ignore local SQLite database files
*.db
*.sqlite3

# Ignore .DS_Store files in any folder
**/.DS_Store
*.DS_Store

# Ignore the entire feature folder with all nested data
features/

# Ignore pytest_cache fiels
.pytest_cache/ 